<!DOCTYPE html>
<html>
    <head>
        <title>Gemini</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>

    <body class="report"{{#if autoRun}} data-auto-run="true"{{/if}}>
        {{#with stats}}
        <dl class="summary">
            <dt class="summary__key">Total Tests</dt><dd class="summary__value">{{total}}</dd>
            <dt class="summary__key">Passed</dt><dd class="summary__value">{{passed}}</dd>
            <dt class="summary__key {{has-fails}}">Failed</dt><dd class="summary__value">{{failed}}</dd>
            <dt class="summary__key">Skipped</dt><dd class="summary__value">{{skipped}}</dd>
        </dl>
        {{/with}}

        {{#if suites.length}}
            <button id="run" class="button button_type_action button_togglable">Run</button>
            <button id="runFailed" class="button button_togglable" disabled>Retry failed tests</button>
            <button id="acceptAll" class="button button_togglable">Accept all</button>
            <button id="expandAll" class="button">Expand all</button>
            <button id="collapseAll" class="button">Collapse all</button>
            <button id="expandErrors" class="button">Expand errors</button>
            <button id="showOnlyErrors" class="button">Show only errors</button>
            <input id="viewHostInput" type="text" class="text-input" size="40" placeholder="change original host for view in browser"/>
            {{#each suites}}
                {{> suite}}
            {{/each}}
        {{/if}}

        {{#unless suites.length}}
            <p>No suites found.</p>
        {{/unless}}

        <script src="client.js"></script>
    </body>
</html>
