<div class="section {{#ifShouldCollapse status}}section_collapsed{{/ifShouldCollapse}} section_status_{{sectionStatus}}"
     data-suite-path="{{suite.path}}"
     data-state-name="{{state.name}}">
    <div class="section__title">{{state.name}}</div>
    <div class="section__body section__body_guided">
        {{#each browsers}}
        <div class="section {{#ifShouldCollapse status}}section_collapsed{{/ifShouldCollapse}} section_status_{{status}}"
             data-suite-path="{{suite.path}}"
             data-state-name="{{state.name}}"
             data-browser-id="{{browserId}}">
            <div class="section__title">
                {{browserId}}
                <a
                    class="button section__icon section__icon_view-local"
                    data-suite-view-link="{{rootUrl}}{{suite.url}}" href="{{rootUrl}}{{suite.url}}"
                    title="view in browser"
                    target="_blank">
                </a>
            </div>
            <div class="section__body">
                {{#ifCond status '===' 'skipped'}}
                    {{> skip-result}}
                {{else ifCond status '===' 'fail'}}
                    {{> fail-result}}
                {{else ifCond status '===' 'error'}}
                    {{> error-result}}
                {{else}}
                    {{> success-result}}
                {{/ifCond}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
